* {
    margin: 0;
    padding: 0;
    border: 0;
    font: normal 100% sans-serif;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.52);
}

table th {
    background-color: var(--primary-color);
    color: white;
}

table a {
    color: #DE884A;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap'); /* Importando a fonte Katibeh */

/* Variáveis de cores */
:root {
    --primary-color: #E16A13;
    --secondary-color: #F2A900;
    --success-color: #d4edda;
    --error-color: #f8d7da;
    --hover-color: #2980b9;
    --text-color: #555;
    --link-color: #000203;
    --btn-hover-color: #218838;
}

/* Body e Container */
body {
    width: 100%;
    height: 100%;
    font-family: "Katibeh", sans-serif;
    color: #E16A13;
    background: url('img/natura-fundo2.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container-login, #container, #container-listagem-for, .container-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.52);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-sizing: border-box;
}

.logo-natura {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Formulário */
#form-login, .container-cadastro > * {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.destaqueTexto input, input[type="email"], input[type="password"], input[type="tel"], #form-login input[type="text"] {
    background-color: #ffe9eb;
    padding: 5px 15px;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    width: 80%;
    max-width: 100px;
    height: 30px;
    margin: 5px auto;
    border: 0;
    cursor: pointer;
    border-bottom: 3px solid var(--secondary-color);
}

.destaqueTexto input:hover {
    background-color: black;
}

/* Botões */
.btn-itens, .sessao-login-btn, .sessao-login-btn-sair, form input[type=submit], .btn-sair {
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #E16A13;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-itens {
    background-color: #f2a900;
    color: white;
}

.btn-itens:hover, .sessao-login-btn:hover, form input[type=submit]:hover, .sessao-login-btn-sair:hover {
    background-color: #E16A13;
    color: white;
}

.btn-sair {
    background-color: rgba(255, 128, 0, 0.52);
    color: white;
    border: #000203;
    font-size: 12px;
}

.sessao-login-btn {
    background-color: #DE884A;
    width: 80%;
    max-width: 100px;
    text-align: center;
    margin: 10px auto;
}

.sessao-login-btn-sair {
    background-color: #DE884A;
    color: #FFF;
    padding: 10px 20px;
    width: 100px;
    max-width: 50px;
    margin: 10px auto;
}

/* Sucesso e Erro */
.success, .error {
    padding: 15px;
    color: #000;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
}

.success {
    background-color: var(--success-color);
    border: 1px solid #28a745;
}

.error {
    background-color: var(--error-color);
    border: 1px solid #dc3545;
}

/* Foco nos Inputs */
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="file"]:focus,
form input[type="password"]:focus,
textarea:focus {
    border-color: #E16A13;
    outline: none;
}

/* Estilos adicionais para inputs e selects */
form input[type="text"], form input[type="email"], form input[type="file"], form input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DE884A;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-color);
}

/* Media Queries */

/* Para dispositivos grandes */
@media (max-width: 1200px) {
    .container-login, #container, .container-listagem-for, .container-cadastro {
        width: 90%; /* Menos largura em telas grandes */
        max-width: 1000px; /* Definindo o tamanho máximo para telas grandes */
        padding: 5%;
    }
}

/* Para tablets */
@media (max-width: 768px) {
    .container-login, #container, .container-listagem-for, .container-cadastro {
        width: 90%; /* Ajusta a largura */
        padding: 10%;
        max-width: 90%; /* Garante que não ultrapasse a tela */
    }

    .logo-natura {
        max-width: 120px;
    }

    .btn-itens {
        width: 100%;
        font-size: 14px;
    }
}

/* Para smartphones */
@media (max-width: 480px) {
    .container-login, #container, .container-listagem-for, .container-cadastro {
        width: 100%; /* Garante que ocupe toda a largura da tela */
        padding: 10px;
        max-width: 100%;
    }

    .logo-natura {
        max-width: 80px;
    }

    .container-cadastro {
        flex-direction: column;
        gap: 10px;
    }

    .btn-itens {
        font-size: 12px;
    }

    .btn-sair {
        font-size: 10px;
    }

    .container-cadastro input,
    .container-cadastro textarea {
        font-size: 14px;
    }
}
